<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.contraslash.android.openspeechcorpus">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        >
        <uses-library android:name="org.apache.http.legacy" android:required="false" />
        <activity
            android:name=".apps.core.activities.UploadAudioData"
            android:label="@string/title_activity_upload_audio_data"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".apps.authentication.activities.SplashScreen"
            android:label="@string/title_activity_splash_screen"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.history.activities.History"
            android:label="@string/title_activity_history"
            android:parentActivityName=".apps.core.activities.UploadAudioData"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.contraslash.android.openspeechcorpus.apps.core.activities.UploadAudioData" />
        </activity>
        <activity
            android:name=".apps.history.activities.PlayHistoryRecord"
            android:label="@string/title_activity_history"
            android:parentActivityName=".apps.history.activities.History"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.contraslash.android.openspeechcorpus.apps.history.activities.History" />
        </activity>
        <activity
            android:name=".apps.suggestions.activities.SendSuggestion"
            android:label="@string/title_activity_send_suggestion"
            android:parentActivityName=".apps.core.activities.UploadAudioData"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.contraslash.android.openspeechcorpus.apps.core.activities.UploadAudioData" />
        </activity>
        <activity
            android:name=".apps.profile.activities.MyProfile"
            android:label="@string/title_activity_my_profile"
            android:parentActivityName=".apps.core.activities.UploadAudioData"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.contraslash.android.openspeechcorpus.apps.core.activities.UploadAudioData" />
        </activity>
        <activity
            android:name=".apps.core.activities.UploadCustomAudioData"
            android:label="@string/custom_record"
            android:parentActivityName=".apps.core.activities.UploadAudioData"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.contraslash.android.openspeechcorpus.apps.core.activities.UploadAudioData" />
        </activity>
        <activity
            android:name=".apps.tales.activities.AuthorList"
            android:label="@string/title_activity_author_list"
            android:parentActivityName=".apps.core.activities.UploadAudioData"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.contraslash.android.openspeechcorpus.apps.core.activities.UploadAudioData" />
        </activity>
        <activity
            android:name=".apps.tales.activities.TalesList"
            android:label="@string/title_activity_tales_list"
            android:parentActivityName=".apps.tales.activities.AuthorList"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.contraslash.android.openspeechcorpus.apps.tales.activities.AuthorList" />
        </activity>
        <activity
            android:name=".apps.tales.activities.SentencesList"
            android:label="@string/title_activity_sentences_list"
            android:parentActivityName=".apps.tales.activities.TalesList"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.contraslash.android.openspeechcorpus.apps.tales.activities.TalesList" />
        </activity>
        <activity
            android:name=".apps.tales.activities.UploadTaleAudioData"
            android:label="@string/title_activity_upload_tale_audio_data"
            android:parentActivityName=".apps.tales.activities.SentencesList"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.contraslash.android.openspeechcorpus.apps.tales.activities.SentencesList" />
        </activity>
        <activity
            android:name=".apps.news.activities.NewsDetail"
            android:label="@string/title_activity_news_detail"
            android:parentActivityName=".apps.core.activities.UploadAudioData"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.contraslash.android.openspeechcorpus.apps.core.activities.UploadAudioData" />
        </activity>
        <activity
            android:name=".apps.profile.activities.RankingList"
            android:label="@string/title_activity_ranking"
            android:parentActivityName=".apps.core.activities.UploadAudioData"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.contraslash.android.openspeechcorpus.apps.core.activities.UploadAudioData" />
        </activity>
        <activity
            android:name=".apps.aphasia.activities.LevelList"
            android:label="@string/levels"
            android:parentActivityName=".apps.core.activities.UploadAudioData"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.contraslash.android.openspeechcorpus.apps.core.activities.UploadAudioData" />
        </activity>
        <activity
            android:name=".apps.aphasia.activities.LevelCategoriesList"
            android:label="@string/categories"
            android:parentActivityName=".apps.aphasia.activities.LevelList"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.contraslash.android.openspeechcorpus.apps.aphasia.activities.LevelList" />
        </activity>
        <activity
            android:name=".apps.aphasia.activities.LevelSentenceList"
            android:label="@string/words"
            android:parentActivityName=".apps.aphasia.activities.LevelCategoriesList"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.contraslash.android.openspeechcorpus.apps.aphasia.activities.LevelCategoriesList" />
        </activity>
        <activity
            android:name=".apps.aphasia.activities.UploadWordAudioData"
            android:parentActivityName=".apps.aphasia.activities.LevelSentenceList"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.contraslash.android.openspeechcorpus.apps.aphasia.activities.LevelSentenceList" />
        </activity>
        <activity android:name=".apps.isolated_words.activities.CategoryList" />
        <activity android:name=".apps.isolated_words.activities.IsolatedWordList" />
        <activity android:name=".apps.isolated_words.activities.UploadIsolatedWordAudioData"></activity>
    </application>

</manifest>